.place__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  align-self: start;
  margin: 0;
  }



  @media (min-width: 769px) and (max-width: 1023px) {
    .place__title {
      max-width: 90%;
      line-height: 76px;
    }
  }
  
  @media (min-width: 521px) and (max-width: 768px) {
    .place__title {
      font-size: 42px;
      line-height: 46px;
      max-width: 90%;
    } 
  }


  @media (min-width: 481px) and (max-width: 520px) {
    .place__title {
      margin-left: 0;
      font-size: 32px;
      line-height: 35px;  
    } 
  }
  
  @media (max-width: 480px) {
    .place__title {
      margin-left: 16px;
      font-size: 32px;
      /* при отключении стиля font-size шрифт наследует значение 72px */
      line-height: 35px;  
    }
  }