.places{
  max-width: 984px;
  margin: 0 auto 92px;
}


@media (min-width: 769px) and (max-width: 1024px) {
  .places {
    max-width: calc(100% - 96px);
  }
}


@media (min-width: 481px) and (max-width: 768px) {
  .places {
    max-width: calc(100% - 48px);
    margin: 0 auto 90px;
  }
}
@media (max-width: 480px) {
  .places {
    max-width: 100%;
    margin: 0 0 66px;
  }
}
