
.header__lang-link{
  text-decoration-line: none;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: right;  
  color: #FFFFFF;
}

.header__lang-link:hover{
  text-decoration: underline;
  opacity: 80%;
  transition: linear .3s ;
}

@media (max-width: 480px) {
  .header__lang-link {
    font-size: 5.625vw;
    line-height: 6.25vw;
  }
}
