.intro__title{
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    padding: 0;
    margin: 0;
}

@media (max-width: 480px) {
    .intro__title {
        font-size: 10vw;
        line-height: 10.9375vw;
    }
  }

